<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let advertisement of advertisements; let i = index">
            <div class="card mb-4">
                <img class="card-img-top" src="#" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{advertisement.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{advertisement.contract_type}}</h6>
                    <p class="card-text">{{advertisement.short_description}}</p>
                    <button class="btn btn-primary" (click)="openModal(i)">Learn More</button>
                </div>
                <div class="modal" [ngClass]="{ 'show': isModalOpen === i }"
                    [ngStyle]="{ 'display': isModalOpen === i ? 'block' : 'none' }">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ advertisement.title }}</h5>
                                <button type="button" class="btn-close" (click)="closeModal()"></button>
                            </div>
                            <div class="modal-body">
                                <p>{{ advertisement.long_description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    {{advertisement.creation_date}}
                </div>
            </div>
    
        </div>
    
    </div>

</div>
